<div class="pokemon-detail" *ngIf="nombrePokemon">
  <h1>{{ nombrePokemon  }}</h1>
  <img [src]="imgAnimated" [alt]="nombrePokemon">
  
  <div class="info">
    <p><strong>Especie:</strong> {{ especie }}</p>
    <p><strong>Descripción:</strong> {{ descripcion }}</p>
    <p><strong>Peso:</strong> {{ peso }} kg</p>
    <p><strong>Altura:</strong> {{ altura }} m</p>
    <p><strong>Tipo(s):</strong> {{ tipos.join(', ') }}</p>
    <p><strong>Habilidades:</strong> {{ habilidades.join(', ') }}</p>
  </div>
</div>
