<div> <h3>Desarrolladora:</h3><p> Ángela Charte Torres </p> 
 <h3>Curso:</h3><p> 2º DAW </p> 
 <h3>Propuesta de proyecto: </h3> <p>Consumo la API de Pokemon donde, ordenados según el número de la Pokedex podemos encontrarnos su nombre y su foto, si hacemos click en ver detalles, nos dará información adicional como es el tipo al que pertenecen y habilidades, junto con el peso y su altura</p>
 <h3>Planteamiento del proyecto: </h3> <p> Hacemos uso de modelos, de donde sacaré los atributos . En el servicio consumiré los endpoints que creo que son necesarios, como el coger todos los pokemon, cogerlos según el id</p>
 <h3>Elementos que más me han costado: </h3> <p>Crear la paginación ha sido uno de los elementos más tediosos a mi parecer, dado que siempre me mostraba únicamente los 20 primeros y el botón carecía de funcionalidad</p>
 <h3>Opinión personal:</h3> <p>Me ha gustado bastante este proyecto y veo su utilidad , ya que es una forma """sencilla""" de consumir una API para poder darle un frontend</p>
</div>
